<section class="section">
  <div class="container">
    <h1 class="title is-2 has-text-centered">Please upload only photos in Black and Orange!</h1>
    <%= render 'form', bando: @bando %>
  </div>
</section>