<p>
  <strong>Title:</strong>
  <%= @bando.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bando.description %>
</p>

<%= link_to 'Edit', edit_bando_path(@bando) %> |
<%= link_to 'Back', bandos_path %>
